@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Nonton YUK!</h1>
</div>
<br>
<br>

<div class="card-group">
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Movie</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Movie List</h5>
            <p class="card-text">This is an index of lists of films by year, and genre among other factors. There are other movie lists. Lots and lots of others. So many you can list's your film the released</p>
    </div>
</div>

 <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Theater</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Theater Nonton YUK!</h5>
            <p class="card-text">This is about list theater we have in other cities, and you can list the theater based on city</p>
    </div>
</div>

<div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Booking</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Booking Area</h5>
            <p class="card-text">This is a booking list that you can use when booking to watch a movie at another time</p>
    </div>
</div>

<div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Booking</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Booking Area</h5>
            <p class="card-text">This is a booking list that you can use when booking to watch a movie at another time</p>
    </div>
</div>


</div>